@import "reset.css";
@import "styles.css";

@font-face {
  font-family: "Suisse Intl Regular";
  src: url(assets/font/SuisseIntl-Regular.woff2);
}
@font-face {
  font-family: "Suisse Intl Book";
  src: url(assets/font/SuisseIntl-Book.woff2);
}
