:root {
  --color-black: #131313;
  --color-blue: #1C63EC;
  --color-white: #FFFFFF;
  --color-whiteGrey: #F0F1F2;
  --color-whiteWhiteGrey: #F7F7F8;
  --color-grey105: #F1F1F1;
  --color-grey2: #747474;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TEXT STYLES */
html {
  scroll-behavior: smooth;
}



h1 {
  font-family: 'Suisse Intl Book';
  font-size: 48px;
  line-height: 44px;

  text-align: center;
  letter-spacing: -0.04em;

  color: var(--color-black);
}

p {
  font-family: 'Suisse Intl Book';
  font-size: 27px;
  line-height: 28px;

  letter-spacing: -0.023em;
}

.caption {
  font-family: 'Suisse Intl Book';

  font-size: 15px;
  line-height: 130%;

  text-align: center;
  letter-spacing: -0.003em;

  color: var(--color-grey2);
}

h2 {
  font-family: 'Suisse Intl Book';
  font-size: 36px;
  line-height: 36px;

  text-align: center;
  letter-spacing: -0.03em;
}


/* HEADER */

.input {
  display: flex;
  height: 64px;
  background-color: var(--color-grey105);

  margin-top: 40px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  width: -webkit-fill-available;
  padding-left: 20px;
}

.input::placeholder {
  color: #C9CACB;
}


button {
 font-family: 'Suisse Intl Regular', serif !important;
 font-size: 18px;
 font-weight: 400;
 text-decoration: none;

 margin-top: 12px;

 display: flex;
 height: 64px;

 align-items: center;

 width: 100%;
 border-radius: 100px;
 border: none;

 background-color: var(--color-blue);
 color: var(--color-white);

 justify-content: center;
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.header .contentBox {
  height: 80px;
  padding-left: 14px;
  padding-right: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000000;
}
.header .contentBox a {
  font-family: 'Suisse Intl Regular';
  font-size: 15px;
  text-decoration: none;

  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  padding: 0 22px;


  background-color: var(--color-blue);
  color: var(--color-white);

  border-radius: 100px;
}
.header .contentBox img {
  height: 34px;
}

.header .box {
  display: flex;
  justify-content: space-between;
}

.animoji_1_start {
  animation-duration: 6s;
  animation-name: animoji_1_start;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.animoji_1_start {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-name: animoji_1_start;
          animation-name: animoji_1_start;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animoji_1_start {
    0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

@keyframes animoji_1_start {
    0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

.animoji_2_start {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: animoji_2_start;
          animation-name: animoji_2_start;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animoji_2_start {
    0% {
    top: 0px;
  }

  50% {
    top: 40px;
  }

  100% {
    top: 0px;
  }
}

@keyframes animoji_2_start {
    0% {
    top: 0px;
  }

  50% {
    top: 40px;
  }

  100% {
    top: 0px;
  }
}

/* ACTION SCREEN */

.startSection {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  padding: 0 14px;
  align-items: center;
}

.startSection .box {
  position: relative;
  height: 150px;
}

.mainComposition {
  display: none;
}

.startSection .box img:nth-child(1) {
  position: absolute;
  top: 44px;
  left: 20px;
  transform: rotate(15deg);
    width: 120px

}
.startSection .box img:nth-child(2) {
  position: absolute;
  right: 24px;
  transform: rotate(340deg);
  width: 105px

}


.startSection p {
  margin-top: 20px;
}

form {
  width: 100%;
}





.iphone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  width: 347px;
  height: 570px;
}

.startSection .iphone img {
  position: absolute;
}

.startSection .iphone img:nth-child(1) {
  width: 202px;
  top: 145px;
}


.startSection .iphone img:nth-child(2) {
  width: 144px;
  right: 10px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: nth-child2;
          animation-name: nth-child2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes nth-child2 {
    0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

@keyframes nth-child2 {
    0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

.startSection .iphone img:nth-child(3) {
  width: 116px;
    top: 382px;
    left: 9px;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: nth-child3;
            animation-name: nth-child3;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-transform-origin: 60px 80px;
        -ms-transform-origin: 60px 80px;
            transform-origin: 60px 80px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

@-webkit-keyframes nth-child3 {
    0% {
    top: 382px;
  }

  50% {
    top: 402px;
  }

  100% {
    top: 382px;
  }
}

@keyframes nth-child3 {
    0% {
    top: 382px;
  }

  50% {
    top: 402px;
  }

  100% {
    top: 382px;
  }
}

.startSection .iphone img:nth-child(4) {
  top: 228px;
  right: 53px;
  width: 50px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: nth-child4;
          animation-name: nth-child4;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes nth-child4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  86% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  89% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  91% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nth-child4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  86% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  89% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  91% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.startSection .iphone img:nth-child(5) {
  top: 228px;
  right: 16px;
  width: 50px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: nth-child5;
          animation-name: nth-child5;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes nth-child5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  82% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  83% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nth-child5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  82% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  83% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.startSection .iphone img:nth-child(6) {
  top: 127px;
  left: 17px;
  width: 117px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: nth-child6;
          animation-name: nth-child6;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes nth-child6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  46% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  56% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nth-child6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  46% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  56% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.startSection .iphone img:nth-child(7) {
  width: 65px;
  top: 365px;
  right: 29px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: nth-child7;
          animation-name: nth-child7;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes nth-child7 {
    0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    top: 365px;
  }

    25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    top: 385px;
  }

    50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    top: 365px;
  }



  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes nth-child7 {
    0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    top: 365px;
  }

    25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    top: 385px;
  }

    50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    top: 365px;
  }



  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.startSection .iphone img:nth-child(8) {
  width: 51px;
  top: 259px;
  left: 8px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: nth-child8;
          animation-name: nth-child8;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes nth-child8 {
    0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

    25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

    50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }



  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes nth-child8 {
    0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

    25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

    50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }



  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

/* ----------------------------- */
/* .startSection .iphone img:nth-child(2) {
  width: 144px;
  right: 10px;
  animation-duration: 5s;
  animation-name: nth-child2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes nth-child2 {
    0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

.startSection .iphone img:nth-child(3) {
  width: 116px;
    top: 382px;
    left: 9px;
    animation-duration: 4s;
    animation-name: nth-child3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 60px 80px;
    animation-timing-function: ease-in-out;
}

@keyframes nth-child3 {
    0% {
    top: 382px;
  }

  50% {
    top: 402px;
  }

  100% {
    top: 382px;
  }
}

.startSection .iphone img:nth-child(4) {
  top: 228px;
  right: 53px;
  width: 50px;
  animation-duration: 8s;
  animation-name: nth-child4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes nth-child4 {
  0% {
    transform: scale(1);
  }
  86% {
    transform: scale(1);
  }

  89% {
    transform: scale(0.8);
  }
  91% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.startSection .iphone img:nth-child(5) {
  top: 228px;
  right: 16px;
  width: 50px;
  animation-duration: 8s;
  animation-name: nth-child5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes nth-child5 {
  0% {
    transform: scale(1);
  }
  82% {
    transform: scale(1);
  }

  83% {
    transform: scale(0.8);
  }
  85% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.startSection .iphone img:nth-child(6) {
  top: 127px;
  left: 17px;
  width: 117px;
  animation-duration: 5s;
  animation-name: nth-child6;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes nth-child6 {
  0% {
    transform: scale(1);
  }
  46% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
  56% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.startSection .iphone img:nth-child(7) {
  width: 65px;
  top: 365px;
  right: 29px;
  animation-duration: 20s;
  animation-name: nth-child7;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes nth-child7 {
    0% {
    transform: rotate(5deg);
    top: 365px;
  }

    25% {
    transform: rotate(-5deg);
    top: 385px;
  }

    50% {
    transform: rotate(5deg);
    top: 365px;
  }



  75% {
    transform: rotate(10deg);
  }
}

.startSection .iphone img:nth-child(8) {
  width: 51px;
  top: 259px;
  left: 8px;
  transform: rotate(-10deg);
  animation-duration: 30s;
  animation-name: nth-child8;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center;
}

@keyframes nth-child8 {
    0% {
    transform: rotate(-10deg);
  }

    25% {
    transform: rotate(10deg);
  }

    50% {
    transform: rotate(-10deg);
  }



  75% {
    transform: rotate(10deg);
  }
} */

/* ----------------------------- */


/* MECHANIC */

.mechanicSection {
  margin-top: 70px;

  display: flex;
  flex-direction:column;
  gap: 8px;
  /* align-items: center; */

  padding: 0 3vw;
}

.mechanicSectionCardOne,
.mechanicSectionCardTwo {
  background-color: var(--color-whiteWhiteGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  border-radius: 20px;

  padding: 24px;


}

.mechanicSectionCardTwo {
  align-items: center;
  padding: 24px 24px 0 24px;
}



.mechanicSection .box {
  /* position: relative; */
  /* height: 200px; */
  /* width: 351px; */
  display: flex;
  /* max-width: 100%; */
  justify-content: center;
}

.mechanicSectionCardOne .box img:nth-child(1) {
  /* position: absolute; */
  /* right: -63px; */
  /* top: -151px; */
  /* transform: rotate(5deg); */
  max-width: 100%;
}

/* .mechanicSectionCardOne .box img:nth-child(2) {
  position: absolute;
  left: -82px;
  top: -140px; */
  /* transform: rotate(1.17deg)scale(0.36); */
  /* position: absolute; */
  /* right: -4px;
  top: -151px;
  transform: rotate(348deg);
  max-width: 70%; */
  /* } */

.mechanicSectionCardTwo img {
  /* height: 100vw; */
  /* margin-bottom: -16px; */
  /* width: fit-content; */
  max-width: 100%;
}







/*ADVANTAGE */

.advantageSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  padding: 0 14px;
}

.advantageSection .box {
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 20px;
  padding: 24px;
  margin-top: 8px;
}

.advantageSection .box img {
  margin: 8px auto;
  width: 303px;
}

.advantageSection p {
  color: var(--color-whiteGrey);
  text-align: left;
}

.advantageSection div:nth-of-type(1) {
  margin-top: 20px;
}




/* HOW IT WORKS */

.howItWorksSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  padding: 0 14px;
}

.howItWorksSection .box {
  background-color: var(--color-whiteWhiteGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  border-radius: 20px;
  padding: 24px;
}

.howItWorksSection div:nth-of-type(1) {
  margin-top: 20px;
}

.howItWorksSection div:nth-of-type(1) img {
  margin-bottom: -24px;
  height: 230px;
  width: 303px;
}

.howItWorksSection div:nth-of-type(2) img {

  height: 189px;
  width: 303px;
}

.howItWorksSection div:nth-of-type(3) img {

  height: 235px;
  width: 303px;
}


#study {
  color: #18B2FB;
}
#party {
  color: #FCB22B;
}

#work {
  color: #00C46C;
}


/* FINAL SECTION */

.finalSection {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  padding: 0 14px;
}


.finalSection .box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 24px;
  height: 650px;

  background-color: var(--color-black);
}

.finalSection h2 {
  margin-top: 122px;
  color: var(--color-white);
}

.finalSection .input {
  display: flex;
  height: 64px;
  background-color: var(--color-grey105);

  margin-top: 74px;
  border-radius: 12px;
  width: -webkit-fill-available;
}

.finalSection .box a {
  font-family: 'Suisse Intl Regular';
  font-size: 18px;
  text-decoration: none;

  margin-top: 12px;

  display: flex;
  height: 64px;

  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 100px;

  background-color: var(--color-blue);
  color: var(--color-white);
}

.finalSection .emojiBox {
  position: relative;
}


.finalSection .emojiBox img:nth-child(1) {
  position: absolute;
  width: 120px;
  transform: rotate(352deg);
}

.finalSection .emojiBox img:nth-child(2) {
  position: absolute;
  width: 128px;
  top: 250px;
  right: -20px;
  transform: rotate(9.33deg);
}

.finalSection .emojiBox img:nth-child(3) {
  position: absolute;
  width: 120px;
  top: 521px;
  left: 40px;
  transform: rotate(358deg);
}



.finalSection_contacts {
  margin-top: 40px;
}
.finalSection_contacts .box2:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.finalSection_contacts .box2:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.finalSection_contacts .box2:nth-child(2) p {

  color: #C9CACB;
}

.finalSection .box2 a {
  text-decoration: none;
  text-decoration: underline;
  color: #C9CACB !important;
}

.finalSection_contacts .box2:nth-child(2) p:nth-child(2) {
  margin-top: 4px;
}

.finalSection_bottomBorder{
    display: flex;
    justify-content: space-between;
}

.finalSection_bottomBorder img{
    display: flex;
    justify-content: space-between;
    transform: rotate(180deg);
}

.finalSection_bottom {
  height: 32px;
  background-color: var(--color-black);
}





























/*  */
